@media screen and (max-width: 1900px) and (min-width: 1200px){
  /*----------ГЛАВНАЯ СТРАНИЦА -- ШАПКА ПЕРВЫЙ ЭКРАН------------*/
  .main__container{
    max-width: 1440px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .header_content_navmenu_list {
    column-gap: 50px;
  }

  .header_content_phone {
    margin-left: 39px;
  }

  .header_content_phone_messengers {
    margin-left: 21px;
  }

  .header_content_navmenu_list_item a {
    font-size: 1rem;
  }

  .header_content_phone > a:nth-child(1) {
    font-size: 1rem;
  }

  .header_content_phone > a:nth-child(1) > p {
    font-size: 0.813rem;
  }

  .header_content_orderbutton a {
    font-size: 0.875rem;
    max-width: 115px;
  }

  .header_content_phone_messengers_list_item > a:nth-child(1) > img:nth-child(1) {
    width: 26px;
  }

  .header_logo {
    width: 115px;
    display: flex;
  }

  .header_logo > img:nth-child(1) {
    width: 100%;
  }

  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .firstsec {
    padding-left: 24px;
    padding-right: 24px;
  }

  .firstsec_content_leftpart h1 {
    font-size: 4.375rem;
  }

  .firstsec_content_leftpart p {
    font-size: 1.5rem;
  }

  .firstsec_content_leftpart h2 {
    font-size: 2rem;
  }

  .firstsec_content_rightpart_list_item p {
    font-size: 1rem;
  }

  .firstsec_content_rightpart_order {
    font-size: 1rem;
    line-height: 28px;
    max-width: 334px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .firstsec_content_rightpart_list_item img {
    width: 31px;
    height: 31px;
  }

  .firstsec_content_leftpart h3 {
    font-size: 1.25rem;
  }

  .firstsec_content {
    padding-bottom: 137px;
  }

  /*----------ГЛАВНАЯ СТРАНИЦА -- КАТАЛОГ------------*/

  .catalogsec_content {
    padding-top: 101px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .catalogsec_content_header h2 {
    font-size: 2.25rem;
    line-height: 31px;
  }

  .catalogsec_content_list_item {
    height: 297px;
    max-width: 223px;
  }

  .catalogsec_content_list_item > a > h3 {
    font-size: 1.25rem;
    line-height: 25px;
  }

  .catalogsec_content_list {
    row-gap: 12px;
    column-gap: 9px;
    margin-top: 34px;
  }


  /*----------ГЛАВНАЯ СТРАНИЦА -- ПОРТФОЛИО------------*/

  .portfoliosec_content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 127px;
    overflow: hidden;
  }

  .portfoliosec_content_header h2 {
    font-size: 2.25rem;
    line-height: 31px;
  }

  .portfoliosec {
    
  }

  .portfoliosec_content_main_slider_item:nth-child(1) > img:nth-child(1) {
    margin-left: -100px;
  }

  .portfoliosec_content_main_slider_item:nth-child(1) > img:nth-child(1) {
    margin-left: -250px;
  }

  .main__container_portfoliosec{
    margin: unset;
    max-width: unset;
  }

  .portfoliosec_content_main_slider_item:nth-child(2) > p {
    font-size: 1rem;
    line-height: 24px;
    max-width: 597px;
  }


  .main__container_portfoliosec {
  margin-right: 0px;
  max-width: unset;
}

.portfoliosec_content {
  padding-left: 0 !important;

}

.portfoliosec_content_main_slider_item:nth-child(2) > img:nth-child(1) {
  margin-top: 110px;
  margin-bottom: 42px;
}


.portfoliosec_content_header > h2:nth-child(1) {
  padding-left: 24px;
}

.portfoliosec_content_main_slider_item:nth-child(1) > img:nth-child(1) {
width: 59vw;
max-height: 770px;
object-fit: cover;
border-radius: 43px;
}
.portfoliosec_content_main_slider_item:nth-child(3) > img:nth-child(1) {
width: 59vw;
max-height: 770px;
}

.portfoliosec_content_main_slider_item:nth-child(2) > p {
max-width: 448px !important;
min-width: auto;
}

.portfoliosec_content_main_slider {
  column-gap: 59px;
}

  /*----------ГЛАВНАЯ СТРАНИЦА -- МАРКЕТПЛЕЙСЫ------------*/

  .marketplacesec_content {
    padding-top: 123px;
    padding-left: 24px;
    padding-right: 24px;
    background-position: top right 300px;
  }

  .marketplacesec_content_header h2 {
    font-size: 2.25rem;
    line-height: 36px;
  }

  .marketplacesec_content_title_item h3 {
    font-size: 2.25rem;
    line-height: 38px;
  }

  .marketplacesec_content_title_item:nth-child(2) p {
    font-size: 1rem;
    line-height: 24px;
  }

  .marketplacesec_content_title {
    margin-top: 23px;
    align-items: flex-start;
  }

  .marketplacesec_content_title_item:nth-child(3) > img:nth-child(1) {
    width: 332px;
  }

  .marketplacesec_content_title_item:nth-child(2) > p:nth-child(1) {
    max-width: 597px;
  }

  .marketplacesec_content {
    background-position: top 0px left 400px;
    padding-top: 130px;
  }

  .marketplacesec_content_title_item h3 {
    margin-bottom: 22px;
  }

  .marketplacesec_content_steplist_item {
    max-width: 311px;
    height: 422px;
    padding-bottom: 25px;
    padding-left: 26px;
  }

  .marketplacesec_content_steplist_item_header h3 {
    line-height: 27px;
  }

  .marketplacesec_content_title {
    padding-bottom: 37px;
  }



  /*----------ГЛАВНАЯ СТРАНИЦА -- КОРПОРАТИВНЫЙ МЕРЧ------------*/

.corporatemerchsec_content {
  padding-top: 124px;
  padding-left: 24px;
  padding-right: 24px;
}

.corporatemerchsec_content_header h2 {
  font-size: 2.25rem;
  line-height: 31px;
}

.corporatemerchsec_content_main {
  padding-top: 18px;
}

.corporatemerchsec_content_main_leftpart p {
  line-height: 26px;
}

.corporatemerchsec_content_main_leftpart a {
  font-size: 1rem;
  max-width: 334px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 23px;
}

.corporatemerchsec_content_main {
  column-gap: 21px;
}

.corporatemerchsec_content_main_leftpart a {
  margin-bottom: 62px;
}

.corporatemerchsec_content_main_rightpart > img:nth-child(1) {
  padding-top: 0px;
  height: 100%;
  max-height: 508px;
  max-width: 922px;
}

.corporatemerchsec_content_main_leftpart > img:nth-child(3) {
  max-width: 448px;
  width: 100%;
}

.metodssec_content {
  padding-top: 126px;
  padding-left: 24px;
  padding-right: 24px;
}

.metodssec_content_header h2 {
  font-size: 2.25rem;
  line-height: 36px;
}

.metodssec_content_header p {
  font-size: 1rem;
  line-height: 24px;
  max-width: 551px;
}

.metodssec_content_main_list_item {
  max-width: 337px;
  padding-left: 26px;
  height: 424px;
}

.metodssec_content_main_list_item h3 {
  line-height: 32px;
}


.metodssec_content_main_list_item:hover .metodssec_content_main_list_item_hover {
  row-gap: 37px;
  padding-top: 59px;
  height: 388px;
}

.metodssec_content_main_list_item_hover p {
  font-size: 1rem;
  line-height: 24px;
}

.metodssec_content_main_list_item_hover img {
  width: 85px;
}


.metodssec_content_main_list_item:nth-child(1) > div:nth-child(2) > p:nth-child(2) > br:nth-child(1) {
  display: none;
}

.metodssec_content_main_list_item {
  max-width: 311px;
}

.metodssec_content_main_list_item {
  max-width: 255px;
}

.metodssec_content_main_list_item {
  padding-left: 25px;
}

.metodssec_content_main_list_item:hover .metodssec_content_main_list_item_hover {
  row-gap: 15px;
}

.metodssec_content_main_list_item h3 {
  font-size: 1.25rem;
}


.metodssec_content_main_list_item {
  max-width: 312px;
}



  /*----------ГЛАВНАЯ СТРАНИЦА -- НАШЕ ПРОИЗВОДСТВО------------*/

.ourproductionsec_content {
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
}

.ourproductionsec_content_header h2 {
  font-size: 2.25rem;
  line-height: 31px;
}

.ourproductionsec_content_main_title p {
  font-size: 1rem;
  line-height: 24px;
}

.ourproductionsec_content_main_list_item {
  height: 347px;
  max-width: 305px;
}

.ourproductionsec_content_main_title a {
  max-width: 334px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 1rem;
  line-height: 24px;
}

.ourproductionsec_content_main_title {
  max-width: 435px;
}

.ourproductionsec_content {
  padding-bottom: 207px;
}


  /*----------ГЛАВНАЯ СТРАНИЦА -- НАШИ ПАРТНЕРЫ------------*/

.partnerssec_content_header h2 {
  font-size: 2.25rem;
  line-height: 31px;
}

.partnerssec_content_header {
  padding-left: 24px;
  padding-right: 24px;
}

.partnerssec_content_slider_container {
  padding-left: 24px;
  padding-right: 24px;
}

.partnerssec_content_slider {
  width: calc(100% - 290px);
}

.partnerssec_content_slider_arrowleft {
  right: 24px;
}

.partnerssec_content_slider_arrowright {
  right: 24px;
}

.partnerssec_content_slider_item {
  height: 250px;
}

.partnerssec_content_slider_arrowright {
  max-width: 192px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.partnerssec_content_slider_arrowleft {
  max-width: 192px;
  padding-top: 28px;
  padding-bottom: 28px;
}



  /*----------ГЛАВНАЯ СТРАНИЦА -- ВОПРОСЫ------------*/

.questionssec > div:nth-child(1) > div:nth-child(1) {
  max-width: 1440px;
  margin: 0 auto;
}

.questionssec_content_header {
  padding-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
}

.questions-list-item {
  padding-right: 24px;
  padding-left: 24px;
}

.questionssec_content_header h2 {
  padding-top: 120px;
}

.questionssec_content_header h2 {
  font-size: 2.25rem;
  line-height: 31px;
}

.questionssec_content_header {
  margin-bottom: 42px;
}

.questions-list-item-title-p_fix {
  padding-top: 9px;
}

.questions-list-item p {
  font-size: 1.5rem;
  line-height: 32px;
}

.questions-list-item-title_image {
  width: 166px;
  height: 104px;
}

.questions-list-item-title_image_js {
  width: 495px;
  height: 184px;
}

.questions-list-item-wrapinfo_js > p {
  font-size: 1rem;
  line-height: 24px;
  max-width: 559px;
}

.questionssec-content {
  background-position: top -85px center;
}


  /*----------ГЛАВНАЯ СТРАНИЦА -- ОТЗЫВЫ------------*/

.reviewssec_content_header {
  padding-left: 24px;
  padding-right: 24px;
}

.reviewssec_content_header h2 {
  font-size: 2.25rem;
  line-height: 31px;
}

.reviewssec_content_header {
  margin-bottom: 31px;
}

.reviewssec_content_slider_item_firstslide p {
  font-size: 1rem;
  line-height: 24px;
}

.questionssec-content-main {
  padding-bottom: 165px;
}

.reviewssec_content_slider_item_smile {
  left: 70px;
  bottom: -35px;
}

.reviewssec_content_slider_item {
  max-width: 306px !important;
  height: 234px !important;
}

.reviewssec_content_slider_item_title p {
  font-size: 1.125rem;
  line-height: 28px;
}

.reviewssec_content_slider_item_header {
  column-gap: 19px;
}

.reviewssec_content_slider_item_title_author_rightpart h3 {
  font-size: 1rem;
  line-height: 28px;
}

.reviewssec_content_slider_item_title_author_rightpart p {
  font-size: 0.875rem;
  line-height: 22px;
}

.reviewssec_content_slider {
  padding-left: 24px;
}

.reviewssec_content_slider_item_firstslide > img:nth-child(2) {
  width: 216px;
  height: 300px;
}

.reviewssec_content_slider_item_firstslide > img:nth-child(3) {
  width: 216px;
  height: 300px;
}

.reviewssec_content_slider_item_smile {
  width: 380px;
}


.reviewssec_content_slider_item:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 96px;
  height: 16px;
  column-gap: 4px;
}

.reviewssec_content_slider_item:nth-child(2) > div:nth-child(1) > img:nth-child(2) {
  width: 30px;
}

.reviewssec_content_slider_arrowleft {
  left: 24px;
}


.reviewssec_content_slider_arrowright {
  max-width: 192px;
  padding-top: 28px;
  padding-bottom: 28px;
}


.reviewssec_content_slider_arrowleft {
  max-width: 192px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.reviewssec_content_slider > div:nth-child(1) {

}

.questionssec-content {
  background-position: top -85px right 200px;
}


  /*----------ГЛАВНАЯ СТРАНИЦА -- БЛОГ------------*/


.blogsec_content {
  padding-top: 118px;
  padding-left: 24px;
  padding-right: 24px;
}

.blogsec_content_header {
  margin-bottom: 34px;
}

.blogsec_content_main_uppart_rightpart p {
  font-size: 1rem;
  line-height: 24px;
}

.blogsec_content_main_uppart_rightpart h3 {
  margin-top: 35px;
  font-size: 1.5rem;
  line-height: 32px;
  max-width: 470px;
}

.blogsec_content_main_uppart_rightpart > p:nth-child(3) {
  margin-bottom: 30px;
  margin-top: 30px;
}

.blogsec_content_main_uppart_rightpart_details {
  margin-top: 36px;
}

.blogsec_content_main_uppart_rightpart_details > p {
  font-size: 1rem;
  line-height: 24px;
}

.blogsec_content_main_uppart_rightpart_details > img {
  width: 21px;
  height: 21px;
}

.blogsec_content_main_uppart_leftpart > img:nth-child(1) {
  max-width: 677px;
}

.blogsec_content_main_downpart_list_item > div:nth-child(1) > img:nth-child(1) {
  width: 165px;
}

.blogsec_content_main_downpart_list_item {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 19px;
  max-width: 425px;
  column-gap: 13px;
}

.blogsec_content_main_downpart_list_item_rightpart_header p {
  max-width: 115px;
  font-size: 1rem;
  line-height: 24px;
}

.blogsec_content_main_downpart_list_item_rightpart > a {
  margin-top: 26px;
  font-size: 1rem;
  line-height: 24px;
}

.blogsec_content_main_uppart_rightpart_header p {
  max-width: 115px;
}

.blogsec_content_main_downpart {
  margin-top: 29px;
}

.blogsec {
  margin-bottom: 100px;
}


.blogsec_content_main_uppart_rightpart h3 {
  font-size: 1.35rem;
}

.blogsec_content_main_downpart_list_item {
  max-width: 350px;
  column-gap: 10px;
}

.blogsec_content_main_downpart_list_item_rightpart > a {
  margin-top: 15px;
}



  /*----------ГЛАВНАЯ СТРАНИЦА -- ПОДВАЛ------------*/

.footer_content {
  padding-left: 24px;
  padding-right: 24px;
}

.footer_content_uppart_item h3 {
  font-size: 1rem;
  line-height: 24px;
}

.footer_content_uppart_item:nth-child(1) p {
  font-size: 1rem;
  line-height: 24px;
}

.footer_content_uppart_item a {
  font-size: 1rem;
  line-height: 24px;
}

.footer_content_uppart_item:nth-child(1) > h3:nth-child(2) {
  margin-bottom: 31px;
}

.footer_content_downpart_leftpart p {
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.footer_content_downpart_rightpart_item_rightpart p {
  font-size: 1rem;
  line-height: 24px;
}

.footer_content_downpart_rightpart_item_rightpart a {
  font-size: 1rem;
  line-height: 24px;
}

.footer_content_downpart_rightpart_item > a > img {
  width: 35px;
  height: 35px;
}

.footer_content_downpart_rightpart_item a {
  padding: 11px;
  height: 35px;
  width: 35px;
}

.footer_content_downpart_rightpart_item:nth-child(3) > a:nth-child(1) > img:nth-child(1) {
  height: 42px;
}

.footer_content_downpart_rightpart_item:nth-child(3) {
  margin-left: 99px;
}

.footer_content_downpart {
  padding-top: 94px;
}

.footer_logo > img:nth-child(1) {
  width: 160px;
}


.footer_content_downpart_rightpart_item:nth-child(1) > img:nth-child(1) {
  width: 83px;
}








.footer {
 
}



}









@media screen and (max-width: 1439px) and (min-width: 1200px){
  /*----------ГЛАВНАЯ СТРАНИЦА -- ШАПКА ПЕРВЫЙ ЭКРАН------------*/

  .header_content_rightpart {
    width: 100%;
    justify-content: space-between;
  }

  .header_content_navmenu_list {
    column-gap: 21px;
  }

  .header_content_phone {
    margin-left: 20px;
  }

  .header_content_orderbutton a {
    padding-left: 10px;
    padding-right: 11px;
    white-space: nowrap;
  }

  .header_logo > img:nth-child(1) {
    margin-right: 15px;
  }

  .firstsec_content_leftpart h1 {
    font-size: 4rem;
  }

  .firstsec_content {
    column-gap: 110px;
  }

  .firstsec_content_rightpart_list {
    row-gap: 15px;
  }

  .firstsec_content_leftpart h2 {
    margin-top: 20px;
  }

  /*----------ГЛАВНАЯ СТРАНИЦА -- КАТАЛОГ------------*/


  /*----------ГЛАВНАЯ СТРАНИЦА -- ПОРТФОЛИО------------*/


  /*----------ГЛАВНАЯ СТРАНИЦА -- МАРКЕТПЛЕЙСЫ------------*/
  .marketplacesec_content_title_item:nth-child(3) > img:nth-child(1) {
    width: 270px;
  }

  .marketplacesec_content_title_item:nth-child(1) p {
    line-height: 31px;
  }

  .marketplacesec_content_title_item:nth-child(2) > p:nth-child(1) {
    max-width: 590px;
  }

  .marketplacesec_content_steplist_item {
    max-width: 255px;
  }

  .marketplacesec_content_steplist_item_header h3 {
    font-size: 1.25rem;
  }

  /*----------ГЛАВНАЯ СТРАНИЦА -- МЕТОДЫ НАНЕСЕНИЯ------------*/

 .metodssec_content_main_list {
   
  }

  .metodssec_content_main_list_item {
    max-width: 255px;
  }


  /*----------ГЛАВНАЯ СТРАНИЦА -- НАШИ ПАРТНЕРЫ------------*/

  .partnerssec_content_slider_container {
    width: calc(100vw - 48px);
  }

.portfoliosec_content_main_slider_item:nth-child(1) > img:nth-child(1) {
  width: 490px;
  height: 635px;
}

.portfoliosec_content_main_slider_item:nth-child(2) > img:nth-child(1) {
  margin-top: 50px;
  margin-bottom: 20px;
}

.portfoliosec_content_main_slider_item:nth-child(3) > img:nth-child(1) {
  height: 635px;
}

.portfoliosec_content_main_slider {
  column-gap: 40px;
}

.portfoliosec_content {
  padding-right: 0px;
}

.portfoliosec_content {
  background-position: left 15% top;
}

 .portfoliosec_content_main_slider_item:nth-child(1) > img:nth-child(1) {
    margin-left: -100px;
  }

.questions-list-item-wrapinfo_js {
  padding-right: 70px;
}









}



























@media screen and (max-width: 1199px) and (min-width: 320px){
  /*----------ГЛАВНАЯ СТРАНИЦА------------*/

/*----------ГЛАВНАЯ СТРАНИЦА -- ШАПКА ПЕРВЫЙ ЭКРАН------------*/

.header_content_navmenu {
  display: none;
}

.main__container {
  padding-left: 16px;
  padding-right: 16px;
  width: calc(100vw - 32px);
}

.header_content_phone > a:nth-child(1) {
  font-size: 1rem;
  letter-spacing: 2px;
}

.header_content_phone > a:nth-child(1) > p {
  font-size: 0.813rem;
}

.header_content_phone {
  margin-left: 0px;
}

.header_logo > img:nth-child(1) {
  width: 115px;
}

.header_content_phone_messengers {
  display: none;
}

.header_content_orderbutton {
  display: none;
}

.header_content_phone_wrap {
  margin-left: 0px;
}

.header_content_burger{
  display: flex;
  margin-left: 16px;
}

.header_content_burger_btn{
  background: transparent;
  border: 0px;
  cursor: pointer;
}

.bar {
  display: flex;
  transition: 0.2s;
}

  .popup {
      position: fixed;
      top: 0px;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.6s;
      background: #F3EDE6;
  }

.popup.open {
  left: 0;
  display: block;
  z-index: 1000;
}

.popup {
  left: -110%;
}

.close_popup{
  cursor: pointer;
  margin-left: 16px;
}

.close_popup > img:nth-child(1) {
  width: 40px;
}

.headerandfirstsec_container {
  border-radius: 0px 0px 25px 25px;
  background-position: top center;
  background: url(../img/firstsec_background_mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header_content-wrap{
  padding-top: 20px;
}

.header_content-wrap-navmenu {
  margin-top: 16px;
}

.header_content-wrap-navmenu-list > ul:nth-child(1) {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.header_content-wrap-navmenu-list-item a{
  text-decoration: none;
  font-family: "Ubuntu-500";
  font-size: 1.125rem;
  text-decoration: none;
  color: #212833;
  line-height: 37px;
  width: 100%;
  display: flex;
  text-transform: uppercase;
}

.header_content-wrap-navmenu-list-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.header_content-wrap-navmenu-list-item:hover {
  background-color: rgba(20, 20, 20, 0.3);
}

.header_content_phone_wrap > a:nth-child(1) {
  color: #4B80E5;
}

.header_content-wrap-navmenu {
  border-top: 1px solid #212833;
}

.header_content_phone_wrap > a:nth-child(1) > p {
  color: #212833;
}

.header_content-wrap_leftpart > a:nth-child(1) > img:nth-child(1) {
  width: 115px;
}

.header_content_orderbutton:nth-child(1) > a:nth-child(1) {
  color: #FFF;
  padding-top: 11px;
  padding-bottom: 11px;
}

.header_content-wrap-navmenu-list-item:last-child:hover {
    background-color: unset;

}


.firstsec_content_leftpart h1 {
  font-size: 2.25rem;
  line-height: 37px;
  letter-spacing: -1.76px;
}

.firstsec {
  padding-top: 52px;
}

.firstsec_content {
  padding-bottom: 0;
  align-items: flex-start;
  column-gap: 147px;
}

.firstsec_content_leftpart h2 {
  font-size: 1.5rem;
  line-height: 21px;
  margin-top: 17px;
  letter-spacing: 0px;
}

.firstsec_content_leftpart h3 {
  font-size: 1rem;
  line-height: 21px;
}

.firstsec_content {
  flex-direction: column;
  padding-bottom: 31px;
}

.firstsec_content_rightpart {
  margin-top: 68px;
  width: 100%;
}


.firstsec_content_rightpart_list_item img {
  width: 31px;
  height: auto;
}

.firstsec_content_rightpart_list_item p {
  font-size: 1rem;
  line-height: 20px;
  text-transform: none;
}

.firstsec_content_rightpart_list {
  row-gap: 17px;
}

.firstsec_content_rightpart_order {
  margin-top: 11px;
  font-size: 0.875rem;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 8px;
}

.firstsec_content_rightpart_list_item {
  column-gap: 16px;
}

.firstsec_content_rightpart_list_item:nth-child(3) > img:nth-child(1) {
  width: 37px;
}

/*----------ГЛАВНАЯ СТРАНИЦА -- КАТАЛОГ------------*/

.catalogsec_content {
  background-position: top -20px right 0px;
  padding-top: 50px;
  background-size: auto;
}

.catalogsec_content_header {
  align-items: flex-start;
  flex-direction: column;
}

.catalogsec_content_header h2 {
  font-size: 1.5rem;
  line-height: 32px;
}

.catalogsec_content_header p {
  font-size: 1rem;
  line-height: 19px;
}

.catalogsec_content_header > p:nth-child(2) {
  margin-top: 7px;
}

.catalogsec{
  margin-bottom: 50px;
}

.catalogsec_content_list {
  width: calc(100vw - 16px);
  margin-top: 23px;
}

.catalogsec_content_list_item {
  height: 297px !important;
  margin-right: 17px;
  max-width: 223px;
  
}

.catalogsec_content_list_item > a > h3 {
  font-size: 1.25rem;
  line-height: 31px;
  padding-bottom: 19px;
}

.header_content_orderbutton_wrap{
  display: flex;
}

.header_content-wrap-navmenu-list-item a {
  white-space: nowrap;
}

.header_content_orderbutton a {
  max-width: unset;
  margin-left: 0;
}





/*----------ГЛАВНАЯ СТРАНИЦА -- ПОРТФОЛИО------------*/

.portfoliosec_content_main_slider_item:nth-child(1) > img:nth-child(1) {
  max-height: 422px;
}


.portfoliosec_content {
  background-position: center top;
}

.portfoliosec_content_header h2 {
  padding-left: 0;
}

.portfoliosec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
  padding-bottom: 14px;
}

.portfoliosec_content_main_slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.main__container_portfoliosec {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}


.portfoliosec_content_main_slider_item:nth-child(2) {
  grid-column: 1 / -1;
  order: 3;
}

.portfoliosec_content_main_slider_item:nth-child(1) {
  order: 1;
}

.portfoliosec_content_main_slider_item:nth-child(3) {
  order: 2;
}

.portfoliosec_content_main_slider_item:nth-child(3) > img:nth-child(1) {
  max-height: 422px;
}

.portfoliosec_content {
  overflow: visible;
}


.portfoliosec_content_main_slider_item:nth-child(2) > img:nth-child(1) {
  margin-top: 41px;
  margin-bottom: 18px;
  width: 163px;
}

.portfoliosec_content_main_slider_item:nth-child(2) > p {
  font-size: 0.813rem;
  line-height: 18px;
  margin-bottom: 18px;
}

.portfoliosec_content_main_slider_item_button {
  margin-top: 25px;
  font-size: 0.875rem;
  line-height: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.portfoliosec_content_main_slider_item:nth-child(2) {
  padding-left: 16px;
  padding-right: 16px;
}

.portfoliosec_content_main_slider_item:nth-child(2) > p {
  min-width: auto;
  width: calc(100vw - 32px);
}

.portfoliosec_content {
  padding-top: 50px;
  background-position: right -25px top;
}

.portfoliosec_content_header h2 {
  padding-bottom: 45px;
  padding-left: 16px;
}

.catalogsec {
  margin-bottom: 0px;
}

.portfoliosec_content_main_slider_item_button {
  max-width: unset;
  width: calc(100vw - 32px);
}

.portfoliosec_content {
  background-image: url(../img/portfolio_dotted.png), url(../img/marketplace_dotted.png);
  background-repeat: no-repeat;
  background-position: right -54px top, right 0px bottom 52px;
  background-size: auto,contain;
  padding-top: 50px;
}





/*----------ГЛАВНАЯ СТРАНИЦА -- МАРКЕТПЛЕЙСЫ------------*/

.marketplacesec_content_header h2 {
  font-size: 1.5rem;
  line-height: 29px;
}

.marketplacesec_content {
  background-image: none;
  padding-top: 56px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.marketplacesec_content_title {
  margin-top: 8px;
  align-items: flex-start;
  padding-bottom: 0px;
  flex-direction: column;
}

.marketplacesec_content_header {
  order: 1;
}

.marketplacesec_content_title_item h3 {
  font-size: 1.5rem;
  line-height: 39px;
  margin-bottom: 2px;
}

.marketplacesec_content_title_item:nth-child(1) p {
  font-size: 1rem;
  line-height: 20px;
}

.marketplacesec_content_title_item:nth-child(1) b {
  font-size: 1rem;
  line-height: 20px;
}

.marketplacesec_content_title_item:nth-child(2) p {
  font-size: 0.813rem;
  line-height: 18px;
}

.marketplacesec_content_title_item:nth-child(3) {
  order: 1;
}

.marketplacesec_content_steplist {
  order: 3;
}

.marketplacesec_content_title {
  order: 2;
  margin-bottom: 16px;
}

.marketplacesec_content_title_item:nth-child(1) > p:nth-child(2) > br:nth-child(1) {
  display: none;
}

.marketplacesec_content_title_item:nth-child(2) {
  margin-top: 12px;
}

.marketplacesec_content_title_item:nth-child(2) > p:nth-child(1) > b:nth-child(1) {
  font-size: 0.813rem;
  line-height: 18px;
}

.marketplacesec_content_title_item:nth-child(3) {
  order: 1;
}

.marketplacesec_content_title_item:nth-child(2) {
  order: 2;
}

.marketplacesec_content_title_item:nth-child(1) {
  order: 2;
}

.marketplacesec_content_title_item:nth-child(3) > img:nth-child(1) {
  width: 100%;
}


.marketplacesec_content_steplist_item {
  padding-bottom: 13px;
  display: flex block;
  height: 300px !important;
  max-width: 226px;
  display: flex !important;
  margin-right: 10px;
}

.marketplacesec_content_steplist_item_header h3 {
  font-size: 1rem;
  line-height: 18px;
}

.marketplacesec_content_steplist_item_header img {
  width: 33px;
  max-height: 33px;
}

.main__container_marketplacesec {
  padding-right: 0;
  width: calc(100vw - 16px);
}

.marketplacesec_content_steplist_item {
  padding-left: 18px;
  border-radius: 25px;
}

.marketplacesec_content_steplist_item {
  height: 287px !important;
  max-width: 208px;
}

.marketplacesec_content_title_item:nth-child(3) > img:nth-child(1) {
  width: 358px !important;
  height: 131px;
  width: 100%;
}



/*----------ГЛАВНАЯ СТРАНИЦА -- КОРПОРАТИВНЫЙ МЕРЧ------------*/

.corporatemerchsec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
}

.corporatemerchsec_content {
  background-position: top -35px right -32%;
  padding-top: 54px;
  background-size: contain;
}

.corporatemerchsec_content_main {
  padding-top: 4px;
}

.corporatemerchsec_content_main_leftpart p {
  font-size: 1rem;
  line-height: 20px;
  max-width: 300px;
}

.corporatemerchsec_content_main_leftpart a {
  font-size: 0.875rem;
}

.corporatemerchsec_content_main_leftpart a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.corporatemerchsec_content_main {
  display: flex;
  flex-direction: column;
}

.corporatemerchsec_content_main_leftpart > img:nth-child(3) {
  width: 100%;
}

.corporatemerchsec_content_main_mobilebtn{
  display: flex;
  font-family: "Ubuntu-500";
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 35px;
  background: #4B80E5;
  max-width: 445px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 34px;
}

.corporatemerchsec_content_main_mobilebtn:hover {
  background: #6395F5;
  animation: anibtn 0.5s linear;
}

.corporatemerchsec_content_main_leftpart > a:nth-child(2) {
  display: none;
}

.corporatemerchsec_content_main_leftpart > img:nth-child(3) {
  margin-top: 13px;
}

.corporatemerchsec_content_main_rightpart {
  margin-top: 5px;
}

.corporatemerchsec_content_main_leftpart > img:nth-child(3) {
  max-height: 208px;
}

.corporatemerchsec_content_main_mobilebtn {
  margin-top: 21px;
}

.corporatemerchsec_content_main_rightpart > img:nth-child(1) {
  height: 326px;
  border-radius: 42px;
}



/*----------ГЛАВНАЯ СТРАНИЦА -- МЕТОДЫ НАНЕСЕНИЯ------------*/

.metodssec_content {
  background-position: bottom right -100px;
  background-size: contain;
}


.metodssec_content {
  padding-top: 55px;
}

.metodssec_content_header {
  flex-direction: column;
}

.metodssec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
}

.metodssec_content_header p {
  font-size: 0.813rem;
  line-height: 18px;
}

.metodssec_content_header_title > p:nth-child(2) {
  margin-top: 18px;
}

.metodssec_content_main_list_item {
  padding-bottom: 13px;
  display: flex block;
  height: 300px !important;
  max-width: 226px;
  display: flex !important;
  margin-right: 10px;
}

.marketplacesec_content_steplist_item_header h3 {
  font-size: 1rem;
  line-height: 18px;
}

.metodssec_content_main_list_item {
  padding-left: 12px;
  border-radius: 25px;
}

.metodssec_content_main_list_item h3 {
  font-size: 1rem;
  line-height: 18px;
}

.metodssec_content_main_list_item_hover img {
  width: 39px;
}

.metodssec_content_main_list_item:hover .metodssec_content_main_list_item_hover {
  border-radius: 28px;
}

.metodssec_content_main_list_item_hover p {
  font-size: 0.813rem;
  line-height: 18px;
}

.metodssec_content_header_title > p:nth-child(1) {
  margin-top: 6px;
}

.metodssec_content_main_list_item > div:nth-child(2) {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.metodssec_content_main_list_item:hover .metodssec_content_main_list_item_hover {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  height: 301px;
}

.main__container_metodssec {
  padding-left: 16px;
  padding-right: 0;
  width: calc(100vw - 16px);
}

.metodssec_content_header {
  padding-right: 16px;
}

.metodssec_content {
  background-image: none;
}



/*----------ГЛАВНАЯ СТРАНИЦА -- НАШЕ ПРОИЗВОДСТВО------------*/

.ourproductionsec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
  padding-bottom: 16px;
}

.ourproductionsec_content {
  background-position: bottom right;
  padding-top: 53px;
  padding-bottom: 51px;
  background-size: contain;
}

.ourproductionsec_content_main {
  align-items: flex-start;
}

.ourproductionsec_content_main_title p {
  font-size: 0.813rem;
  line-height: 18px;
}

.ourproductionsec_content_main_title p:nth-child(2) {
  margin-top: 13px;
}

.ourproductionsec_content_main_title a {
  margin-top: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0.875rem;
}

.ourproductionsec_content_main {
  display: flex;
  flex-direction: column;
}

.ourproductionsec_content_main_title {
  margin-top: 25px;
}

.ourproductionsec_content_main_list_item {
  padding-bottom: 13px;
  display: flex;
  height: 334px !important;
  max-width: 220px;
  display: flex !important;
  margin-right: 10px;
}

.ourproductionsec_content_main_list {
  width: calc(100vw - 16px);
}


/*----------ГЛАВНАЯ СТРАНИЦА -- НАШИ ПАРТНЕРЫ------------*/

.partnerssec {
  margin-top: 0px;
}

.partnerssec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
}

.ourproductionsec_content {
  background-position: bottom -124px right -50px;
  padding-bottom: 145px;
}


.partnerssec_content {
  margin-top: -94px;
}

.partnerssec_content_slider_arrowright {
  right: auto;
  top: 25px;
  max-width: 75px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}

.partnerssec_content_slider_arrowright > img:nth-child(1) {
  width: 38px;
}

.partnerssec_content_slider_container {
  padding-top: 63px;
}

.partnerssec_content_slider {
  width: calc(100% - 16px);
}

.partnerssec_content_slider_item img {
  max-width: 130px;
}



/*----------ГЛАВНАЯ СТРАНИЦА -- ВОПРОСЫ------------*/


.questionssec_content_header h2 {
  font-size: 1.5rem;
  padding-top: 0;
}

.questionssec_content_header {
  padding-top: 23px;
}

.questions-list-item {
  padding-right: 0;
}

.questions-list-item p {
  font-size: 1rem;
  line-height: 19px;
}

.questions-list-item-title {
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
}

.partnerssec {
  padding-top: 0px;
}

.partnerssec_content_slider {
  padding-top: 9px;
  padding-bottom: 9px;
}

.questions-list-item-wrapinfo_js {
  padding-right: 0;
}

.questions-list-item-wrapinfo p {
  font-size: 0.813rem;
}

.questions-list-item-wrapinfo_js > p:nth-child(1) > br {
  display: none;
}


.questions-list-item-btnwrap {
  position: absolute;
  right: 0;
  top: 0;
}

.questions-list-item {
  position: relative;
}

.plus {
  height: 44px;
}

.questions-list-item {
  padding-top: 23px;
  padding-bottom: 23px;
}

.questions-list-item-title-p_fix {
  padding-top: 0;
}

.questions-list-item-btnwrap-imgactive_js > img:nth-child(1) {
  width: 40px;
}

.questions-list-item-btnwrap-imgactive_js {
  top: 9px;
}

.questions-list-item-title_image {
  width: 100%;
}

.main__container_questionssec {
  width: 100vw;
}

.questions-list-item p {
  max-width: 80vw;
}

.questions-list-item-btnwrap {
  right: 16px;
  top: 9px;
  padding: 0px;
}

.questions-list-item-title_image_js {
  height: auto;
}

.questions-list-item-wrapinfo {
  margin-top: 8px;
}

.questions-list-item-title_image_js {
  margin-top: 18px;
}

.questions-list-item > div:nth-child(1) > div:nth-child(2) > button:nth-child(2) > div:nth-child(1) {
  margin-right: -12px;
}

.questionssec-content {
  background-image: none;
}

.questionssec-content-main {
  padding-bottom: 73px;
}



/*----------ГЛАВНАЯ СТРАНИЦА -- ОТЗЫВЫ------------*/

.reviewssec {
  margin-top: 0;
  display: none;
}

.questionssec-content {
  margin-bottom: 0;
}

.reviewssec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
}

.reviewssec_content_header {
  margin-bottom: 6px;
}

.reviewssec_content_slider_item_firstslide p {
  font-size: 0.813rem;
  line-height: 18px;
}

.reviewssec_content_slider_arrowright {
  right: auto;
  top: 100px;
  max-width: 75px;
  padding-top: 9px;
  padding-bottom: 13px;
  left: 16px;
}

.reviewssec_content_slider_arrowright > img:nth-child(1) {
  width: 38px;
}


.reviewssec_content_slider_item_smile {
  right: 0;
  bottom: auto;
  top: 0;
}

.reviewssec_content_slider_item {
  padding-left: 29px;
  padding-right: 29px;
}


/*----------ГЛАВНАЯ СТРАНИЦА -- БЛОГ------------*/


.blogsec {
  
}

.blogsec_content_header h2 {
  font-size: 1.5rem;
  line-height: 31px;
}

.blogsec_content {
  padding-top: 51px;
}

.blogsec_content_header {
  margin-bottom: 12px;
}

.blogsec_content_main_uppart_rightpart p {
  font-size: 0.813rem;
  line-height: 18px;
}

.blogsec_content_main_uppart_rightpart_header {
  column-gap: 12px;
}

.blogsec_content_main_uppart_rightpart h3 {
  margin-top: 7px;
  font-size: 0.98rem;
  line-height: 32px;
}

.blogsec_content_main_uppart_rightpart > p:nth-child(3) {
  margin-bottom: 18px;
  margin-top: 8px;
}

.blogsec_content_main_uppart_rightpart_details > p {
  font-size: 0.813rem;
  line-height: 24px;
}

.blogsec_content_main_uppart_rightpart_details > img {
  width: 21px;
}

.blogsec_content_main_uppart_rightpart_details {
  column-gap: 7px;
  margin-top: 23px;
}

.blogsec_content_main_uppart {
  display: flex;
  flex-direction: column;
}

.blogsec_content_main_uppart_rightpart {
  margin-top: 17px;
}

.blogsec_content_main_downpart {
  margin-top: 18px;
}

.blogsec_content_main_downpart_list_item {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  column-gap: 8px;
}

.blogsec_content_main_downpart_list_item_rightpart_header p {
  font-size: 0.813rem;
  line-height: 24px;
}

.blogsec_content_main_downpart_list_item_rightpart > a {
  margin-top: 16px;
  font-size: 0.813rem;
  line-height: 21px;
}

.blogsec_content_main_downpart_list_item > div:nth-child(1) > img:nth-child(1) {
  width: 132px;
}

.blogsec_content_main_downpart_list {
  flex-direction: column;
  row-gap: 14px;
}

.blogsec_content_main_downpart_list_item {
  width: auto;
}

.blogsec_content_main_downpart_list_item_rightpart_header {
  column-gap: 6px;
}

.blogsec_content_main_downpart_list_item_rightpart_header p {
  padding-top: 2px;
  padding-bottom: 2px;
  max-width: 89px;
}

.blogsec_content_main_uppart_leftpart > img:nth-child(1) {
  width: 100%;
}


/*----------ГЛАВНАЯ СТРАНИЦА -- ПОДВАЛ------------*/

.blogsec {
  margin-bottom: 40px;
}

.footer {
  padding-bottom: 25px;
}

.footer_content_uppart_item:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
  width: 160px;
}

.footer_content_uppart_item a {
  font-size: 0.813rem;
  line-height: 24px;
}

.footer_content_uppart_item h3 {
  font-size: 0.938rem;
  line-height: 20px;
}

.footer_content_uppart_item:nth-child(1) p {
  font-size: 0.813rem;
  line-height: 24px;
}

.footer_content_uppart_item:nth-child(1) > h3:nth-child(2) {
  margin-bottom: 9px;
}

.footer_content_uppart_item:nth-child(3) {
  display: none;
}

.footer_content_uppart_item:nth-child(4) {
  display: none;
}

.footer_content_uppart_item:nth-child(5) {
  display: none;
}

.footer_content_uppart {
  padding-right: 0;
  flex-direction: column;
}

.footer_content_uppart_item {
  padding-top: 41px;
}

.footer_content_uppart_item h3 {
  margin-bottom: 28px;
}

.footer_content {
  flex-direction: row;
}

.footer_content_downpart {
  align-items: flex-start;
  padding-top: 0;
}

.footer_content_downpart {
  flex-direction: column;
}


.footer_content_downpart_rightpart_item:nth-child(1) {
  margin-right: 0;
  flex-direction: column;
  margin-top: 73px;
}

.footer_content_downpart_rightpart {
  flex-direction: column;
}

.footer_content_downpart_leftpart {
  order: 2;
}

.footer_content_downpart_rightpart {
  order: 1;
}

.footer_content_downpart_rightpart_item_mobile{
  display: flex;
}

.footer_content_uppart_item:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.footer_content_downpart_rightpart_item a {
  padding: 8px;
  border-radius: 15px;
  height: 27px;
}

.footer_content_downpart_rightpart_item > a > img {
  width: 27px;
}

.footer_content_downpart_rightpart_item_mobile {
  column-gap: 7px;
}


.footer_content_downpart_rightpart_item:nth-child(1) {
  margin-top: 0;
}

.footer_content_downpart_rightpart {
    align-items: flex-end;
}

.footer_content_downpart_rightpart_item a {
    padding: 10px;
}

.footer_content {
  justify-content: space-between;
}


.footer_content_downpart_rightpart_item:nth-child(3) {
  margin-left: 0;
}

.footer_content_downpart_rightpart_item:nth-child(3) > a:nth-child(1) > img:nth-child(1) {
  height: 35px;
}

.footer_content_downpart_rightpart_item_rightpart > a:nth-child(2) {
  display: none;
}

.footer_content_downpart_rightpart_item_rightpart p {
  font-size: 0.813rem;
  line-height: 24px;
}

.footer_content_uppart_item {
}

.footer_content_downpart_rightpart_item:nth-child(1) {
  order: 2;
  margin-top: 23px;
}

.footer_content_downpart_rightpart_item:nth-child(3) {
  order: 1;
}

.footer_content_downpart_rightpart_item_rightpart > p:nth-child(1) {
  margin-top: 8px;
}

.footer_content_downpart_rightpart_item:nth-child(1) > img:nth-child(1) {
  width: 83px;
}

.footer_content_downpart {
  align-items: flex-end;
  height: 170px;
}

.footer_content_downpart_leftpart > p:nth-child(1) {
  position: absolute;
  left: 16px;
  bottom: -10px;
}

.footer_content_uppart_item:nth-child(2) {
  padding-bottom: 55px;
}

.footer_content_downpart_leftpart p {
  font-size: 0.813rem;
}

.footer_content_downpart_rightpart > div:nth-child(2) {
  display: none;
}

.footer_content_uppart {
  max-width: 160px;
}

.footer_content_uppart_item:nth-child(2) {
  width: 100%;
}

.footer_content_uppart_item:nth-child(2) {
  width: calc(100vw - 32px);
}


















.footer {

}














}